  <% if current_page?(root_path) %>
      <div id='navbar-home' class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <% elsif current_page?(new_event_path) %>
      <div id='navbar-event' class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <% elsif current_page?(dashboard_path) %>
      <div id='navbar-dashboard' class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <% else %>
      <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <% end %>


  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "Sadelogo.png" %>
    <% end %>

<%#   <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
  </form> %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>

        <li class="nav-item active">
          <%= link_to 'Plan Your Meeting Now', new_event_path, class: "btn-event" %>
        </li>
        <li class="nav-item active">
          <%= link_to "See My Events", dashboard_path, class: "nav-link", id: "event-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Edit profile", edit_user_registration_path, method: :get, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-link" %>
          <%#= link_to raw('<i class="fas fa-sign-out-alt mr-1"></i> Sign out'), destroy_user_session_path, method: :delete, class: "btn btn-primary mr-3" %>
        </li>

      <% else %>
        <li class="nav-item">
       <%= link_to raw('<i class="fas fa-sign-in-alt mr-1"></i> Login'), new_user_session_path, class: "btn btn-outline-primary mr-3" %>
       <%#= link_to "Login", new_user_session_path, class: "btn btn-outline-primary" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign up for free", new_user_registration_path, class: 'btn btn-md btn-primary' %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
