<div class="banner-events mb-1" style="height: 285px; background-image:url(https://res.cloudinary.com/dvpavvw1u/image/upload/v1633029501/blob-scene-haikei_2_fkcf9o.png);">
  <h1>WE HAVE SO MUCH CATCHING.APP TO DO!</h1>
</div>

<div class="event-new-grid">
<div>
    <%= simple_form_for(@event) do |f| %>
      <input name="time_slots[time_slot_array]" id="time_slot_array" type="hidden">
      <div class="form-events" style="background-image:url(https://res.cloudinary.com/dvpavvw1u/image/upload/v1633004095/meetingform2_puuthd.png);">
        <%= f.input :name, placeholder: "A Fabulous Meeting!" %>
        <%= f.input :description, as: :text, placeholder: "Do whatever!" %>
        <%# Using regular HTML forms to escape model validation %>

        <%= f.association:user, collection: @users, label_method: :first_name, input_html: { multiple: true }  %>
          
          <input name="user_list[user_list_array]" id="user-list-hidden" type="hidden">

        <div class="form-group">
          <label for="timezone-picker-new">I am in:&nbsp&nbsp</label>
          <select class="form-control" id="timezone-picker-new"></select>
        </div>

        <div class="form-group">
          <label for="start">Start date:</label>
          <input class="form-control" type="date" name="start" id="event-begin" value="" />
        </div>
        <div class="form-group mb-4">
          <label for="end">End date:</label>
          <input class="form-control" type="date" name="end" id="event-end" value="" />
        </div>
        <div class="form-group" id="range-tooltip">
        </div>

        <%= f.submit "Catch.App with your Friends!", class: "btn-meeting mb-0" %>
      </div>
    <% end %>
  </div>

  <div class="time-grid-define-wrapper">
    <div id="time-grid-define"></div>
  </div>
</div>

