<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-4">
      <h2>Create a New Event </h2>
      <%= simple_form_for(@event) do |f| %>
        <div class="form-events">
          <%= f.input :name, placeholder: "Istanbul Meeting" %>
          <%= f.input :description, as: :text, placeholder: "Local meeting with friends in Istanbul" %>

          <%# Using regular HTML forms to escape model validation %>
          <label for="user_info[user_id]">Choose friends</label><br>
          <select class="form-control select required" name="user_info[user_id]">
            <% @users.each do |user| %>
              <option value="<%= user.id %>"><%= user.email %></option>
            <% end %>
          </select>
          <input name="time_slots[time_slot_array]" id="time_slot_array" type="hidden">

        </div>
        <%= f.submit "Submit", class: "btn btn-primary" %>
      <% end %>
    </div>
    <%= render '/shared/time_slot_definer' %>
  </div>
</div>
<%#= f.input :start_time, as: :string, required: true, input_html: {class: "datepicker"} %>
<%#= f.input :end_time, as: :string, required: true, input_html: {class: "datepicker"} %>
