<%# Seperating host slots %>
<% @host_time_slots_array = [] %>

<% if current_user == @host %>
  <p>This is hosted by the current_user</p>
<% else %>
  <% @host_time_slots.each do |slot| %>
    <% @host_time_slots_array << slot.start_time.iso8601 %>
  <% end %>
 
<% end %>

<input id="begin-date" type="hidden" value="<%= @host_time_slots.first.start_time.iso8601 %>">
<input id="end-date" type="hidden" value="<%= @host_time_slots.last.start_time.iso8601 %>">
<input id="received-time-slots" type="hidden" value="<%= @host_time_slots_array.to_s %>">
<input name="time_slots[time_slot_array]" id="time_slot_array" type="hidden">


<div class="event-show-grid">
  <div class="event-show-card">
    <div class="event-show-card-top">
      <div class="form-group rounded" id="event-show-select">
        <label for="timezone-picker-show"></label>
        <select class="form-control" id="timezone-picker-show"></select>
      </div>
      <label class="switch">
        <input type="checkbox" id="hide-disabled-cells">
        <span class="slider round"></span>
      </label>
    </div>
    <div class="card text-white card-has-bg click-col" style="background-image:url('https://source.unsplash.com/600x900/?nature,forest');">
      <img class="card-img d-none" src="https://source.unsplash.com/600x900/?nature,forest">
      <div class="card-img-overlay d-flex flex-column">
        <div class="card-body">
          <small class="card-meta mb-2"><%= @event.name %></small>
          <h4 class="card-title mt-0 "><a class="text-white" herf="#"><%= @event.description %></a></h4>
          <small><i class="far fa-clock"></i> To be decided</small>
        </div>
        <div class="card-footer">
          <div class="media">
            <img class="mr-3 rounded-circle" src="https://cdn0.iconfinder.com/data/icons/user-pictures/100/male-512.png" alt="Generic placeholder image" style="max-width:50px">
            <div class="media-body">
              <small>an event by</small>
              <h5 class="my-1 text-white d-block"><%= @host.email %></h6>
              <small>good fellow</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% if current_user != @host %>
        <button type="button" class="btn btn-confirm mt-3">Confirm your availability</button>
    <% end %>
  </div>
  <div class="time-grid-show-wrapper">
    <div id="time-grid-show"></div>
  </div>
</div>
