<div class= 'form-container'>
<%= simple_form_for(@activity) do |f| %>
<%= f.input :name %>
<%= f.input :description, as: :text %>
<%= f.input :duration %>
<%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>
</div>
